.col {
	position: relative;

	@include custom-breakpoint-min($breakpoint-medium) {
		float: left;
	}
}
.col-5 {
	@include custom-breakpoint-min($breakpoint-medium) {
		width: 50%;
	}
}
.col-8 {
	@include custom-breakpoint-min($breakpoint-medium) {
		width: 66%;
	}
}
.col-4 {
	@include custom-breakpoint-min($breakpoint-medium) {
		width: 33%;
	}
}