.feature-about {
	position: relative;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('/img/720x/img_feature_about.jpg'); 
	

	@include custom-breakpoint-max($breakpoint-medium) {
		text-align: center;
	}

	@include custom-breakpoint-min($breakpoint-medium) {
		background-image: url('/img/1440x/img_feature_about.jpg');
		max-height: 560px;
	}

	@include custom-breakpoint-min($breakpoint-large) {
		padding-top: 115px;
		padding-bottom: 115px;
	}

	&:before {
		position: absolute;
		left: 0px;
		top: 0px;
		content: " ";
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba($heading-color, .8);
	}
	& > * {
		position: relative;
		z-index: 2;
	}
	h1 {
		font-size: 3.5rem;
		line-height: 42px;
		margin-bottom: 15px;
		padding-bottom: 0px;

		@include custom-breakpoint-min($breakpoint-medium) {
			font-size: 5.0rem;
			line-height: 62px;
		}

		&:after {
			display: none;
		}
	}
	p {
		font-size: 1.6rem;
		line-height: 24px;
		margin-bottom: 30px;

		@include custom-breakpoint-min($breakpoint-medium) {
			font-size: 2.0rem;
			line-height: 28px;
		}
	}
	.button {
		margin: 0 auto;

		@include custom-breakpoint-min($breakpoint-medium) {
			margin: 0;
		}
	}
	.col-4 {
		@include custom-breakpoint-min($breakpoint-medium) {
			height: 200px;
		}
	}
}