		<div id="hero">
			content
		</div>

		<div class="main-content">
			<div class="inner">
				<section class="cta-map align-center">
					<h1 class="heading-color">Share your fresh idea on founders interactive map
				and network with other entrepreneurs</h1>
					<p>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. </p>
					<a href="/#/map" class="button button-primary align-center">See map</a>
				</section>
			</div>
			<section class="feature-about">
				<div class="inner clear">
					<div class="col col-8">
						<h1>Mauris non tempor quam, et lacinia sapien</h1>
						<p>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla. </p>
						<a href="#" class="button button-secondary">About project</a>
					</div>
					<div class="col col-4 align-center">
						<div class="icon-group">
							<picture>
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source srcset="/img/people_group.svg" type="image/svg+xml">
								<!--[if IE 9]></video><![endif]-->
								<img srcset="/img/people_group.png" alt="">
							</picture>
						</div>
						</div>
				</div>
			</section>
			<section class="testimonials">
				<div class="inner clear align-center">
					<h1>Why Founder’s Map is so great</h1>
					<div class="col col-4">
						col A
					</div>
					<div class="col col-4">
						col B
					</div>
					<div class="col col-4">
						col C
					</div>
				</div>
			</section>
			
		</div>
		</div>