<fieldset id="delimiter" hidden>
  <p>
    <input id="delimiterComma" type="radio" name="delimiter" ng-model="delimiter" value=",">
    <label for="delimiterComma">Delimiter ","</label>
  </p>
  <p>
    <input id="delimiterSemicolon" type="radio" name="delimiter" ng-model="delimiter" value=";">
    <label for="delimiterSemicolon">Delimiter ";"</label>
  </p>
</fieldset>
<fieldset id="coords" hidden>
  <select ng-model="dataLat">
    <option ng-selected="{{ head == dataLat }}" ng-repeat="head in heading">{{ head }}</option>
  </select>
  <select ng-model="dataLng">
    <option ng-selected="{{ head == dataLng }}" ng-repeat="head in heading">{{ head }}</option>
  </select>
</fieldset>
<p>
  <textarea name="csvData" ng-model="csvData" placeholder="Place your code" cols="40" rows="10"></textarea>
</p>

<form id="formSearch" hidden>
  <fieldset>
    <input type="text" placeholder="Search startup" ng-model="searchStartup">
  </fieldset>
</form>

<table id="tableMarkers" border="1" hidden>
  <thead>
    <tr>
      <th ng-repeat="(key, value) in heading" ng-click="sortBy(key)" style="cursor:pointer;text-decoration:underline;">{{ value }}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="startup in startups | orderBy:sortType:sortReverse | filter: searchStartup">
      <td>{{startup.id}}</td>
      <td>{{startup.name}}</td>
      <td>{{startup.lat}}</td>
      <td>{{startup.lng}}</td>
    </tr>
  </tbody>
</table>

<div id="map">
  <leaflet center="mapCenter" ng-show="showMap" defaults="defaults" markers="markers" bounds="bounds" layers="layers" width="100%" height="480px"></leaflet>
</div>