		<div id="hero">
			content
		</div>

		<div class="main-content">
			<div class="inner">
				<section class="cta-map align-center">
					<h1 class="heading-color">Share your fresh idea on founders interactive map
				and network with other entrepreneurs</h1>
					<p>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. </p>
					<a href="/#/map" class="button button-primary align-center">See map</a>
				</section>
			</div>
			<section class="feature-about">
				<div class="inner clear">
					<div class="col col-8">
						<h1>Mauris non tempor quam, et lacinia sapien</h1>
						<p>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla. </p>
						<a data-scroll href="#partners" class="button button-secondary">About project</a>
					</div>
					<div class="col col-4 align-center">
						<div class="icon-group">
							<picture>
								<!--[if IE 9]><video style="display: none;"><![endif]-->
								<source srcset="/img/people_group.svg" type="image/svg+xml">
								<!--[if IE 9]></video><![endif]-->
								<img srcset="/img/people_group.png" alt="">
							</picture>
						</div>
						</div>
				</div>
			</section>
			<section class="testimonials">
				<div class="inner clear align-center">
					<h1>Why Founder’s Map is so great</h1>
					<div class="col col-4">
						<div class="testimonial">
							<p><img src="/img/testimonials_01.jpg" alt="" title="" /></p>
							<p class="testimonial-title">Anna Sims</p>
							<p class="testimonial-startup">fashion startup</p>
							<p class="testimonial-description">Bushwick meh Blue Bottle pork belly mustache skateboard 3 wolf moon.</p>

						</div>
					</div>
					<div class="col col-4">
						<div class="testimonial">
							<p><img src="/img/testimonials_02.jpg" alt="" title="" /></p>
							<p class="testimonial-title">Adam Sanders</p>
							<p class="testimonial-startup">food startup</p>
							<p class="testimonial-description">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
						</div>
					</div>
					<div class="col col-4">
						<div class="testimonial">
							<p><img src="/img/testimonials_03.jpg" alt="" title="" /></p>
							<p class="testimonial-title">Ronald Rios</p>
							<p class="testimonial-startup">tech startup</p>
							<p class="testimonial-description">Hella narwhal Cosby sweater McSweeney's, salvia kitsch before they sold out High Life.</p>
						</div>
					</div>
				</div>
			</section>
			<section id="partners" class="partners">
				<div class="inner clear">
					<h2 class="align-center"><span>List of some startups that are already collaborate with founder’s map</span></h2>
					<div class="partner-logos">
						<span><img src="/img/partner1.jpg" alt="" title="" /></span>
						<span><img src="/img/partner2.jpg" alt="" title="" /></span>
						<span><img src="/img/partner3.jpg" alt="" title="" /></span>
						<span><img src="/img/partner4.jpg" alt="" title="" /></span>
						<span><img src="/img/partner5.jpg" alt="" title="" /></span>
						<span><img src="/img/partner6.jpg" alt="" title="" /></span>
						<span><img src="/img/partner7.jpg" alt="" title="" /></span>
					</div>
				</div>
			</section>
			
		</div>
		</div>