h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: $heading-font;
}
h1 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	margin-bottom: $h1-margin-bottom / 2;
	padding-bottom: $h1-margin-bottom / 2;

	@include custom-breakpoint-min($breakpoint-medium) {
		margin-bottom: $h1-margin-bottom;
		padding-bottom: $h1-margin-bottom;
	}

	@include custom-breakpoint-max($breakpoint-medium) {
		font-size: 22px;
		line-height: 26px;
	}

	&:after {
		content: " ";
		display: block;
		width: 75px;
		height: 1px;
		position: relative;
		top: $h1-margin-bottom / 2;
		margin: 0 auto;
		background-color: $line-color;

		@include custom-breakpoint-min($breakpoint-medium) {
			top: $h1-margin-bottom;
			width: 230px;
		}
	}
}
h2 {
	font-family: 'montserrat';
	font-weight: 700;
	color: $light-grey;
}