$anim-offcanvas: cubic-bezier(0.49, 0.01, 0.44, 1);

@mixin hook-base-body(){
	font: $base-body-font-weight $base-html-font-size unquote("/") $base-body-line-height $base-body-font-family;
}
@mixin hook-base-h1() {
	font-weight: 500;
}
@mixin custom-breakpoint-max($max-width) {
	@media (max-width: $max-width) { @content ; }
}
@mixin custom-breakpoint-min($min-width) {
	@media (min-width: $min-width) { @content ; }
}
@mixin custom-breakpoint-min-max($min-width, $max-width) {
	@media (min-width: $min-width) and (max-width: $max-width) { @content ; }
}
@mixin transform($action, $value, $xy:false){
	//-webkit-transform: $action + $xy + "(" + $value + ")";
	@if($xy){
		-moz-transform: $action + $xy + "(" + $value + ")";
		-ms-transform: $action + $xy + "(" + $value + ")";
		-o-transform: $action + $xy + "(" + $value + ")";
		transform: $action + $xy + "(" + $value + ")";
	} @else {
		-moz-transform: $action + "(" + $value + ")";
		-ms-transform: $action + "(" + $value + ")";
		-o-transform: $action + "(" + $value + ")";
		transform: $action + "(" + $value + ")";
	}
}
@mixin drop_shadow($x, $y, $size, $color: #000){
	-webkit-filter: drop-shadow($x $y $size $color);
  filter: drop-shadow($x $y $size $color);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=#{$x}, OffY=#{$y}, Color=\'#{$color}\')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=#{$x}, OffY=#{$y}, Color=\'#{$color}\')";
}
@mixin hook-navbar-content() {
	height: $navbar-nav-brand-height;
}
@mixin hook-navbar-nav-active() {
	//border-top: 5px solid $base-heading-color;
	font-weight: 700;
	&:before {
		content: " ";
		position: absolute;
		height: 5px;
		left: 0px;
		top: -8px;
		width: 100%;
		background-color: $base-heading-color;
	}
}
@mixin hook-navbar-nav-hover() {
	background: none;

	&:before {
		content: " ";
		position: absolute;
		height: 5px;
		left: 0px;
		top: -8px;
		width: 100%;
		background-color: lighten( $base-heading-color, 45% );
	}
}

/* Rules for a new breakpoint 'llarge' */

@mixin hook-utility-misc() {
	@media (min-width: $breakpoint-llarge) {
    .uk-visible-small { display: none !important; }
    .uk-visible-medium { display: none !important; }
    .uk-hidden-large { display: none !important; }
    .uk-hidden-llarge { display: none !important; }
	}
	@media (min-width: $breakpoint-large) and (max-width: $breakpoint-llarge - 1) {
		.uk-visible-llarge { display: none !important ; }
	}
	@media (min-width: $breakpoint-medium) and (max-width: $breakpoint-medium-max) {
    .uk-visible-llarge { display: none !important ; }
  }
  @media (max-width: $breakpoint-small-max) {
		.uk-visible-llarge { display: none !important; }
  }
}
@mixin hook-button() {
	text-transform: uppercase;
	font-weight: 700;
	padding-top: 1px;
}
@mixin hook-cover-misc(){
	div:not(.custom-banner-contacto).uk-cover-background {
		background-position: 50% 0;
	}
}
@mixin hook-offcanvas-bar() {
	-webkit-transition: -webkit-transform 0.8s $anim-offcanvas;
  transition: transform 0.8s $anim-offcanvas;
}
@mixin hook-offcanvas-misc(){
	.uk-offcanvas-page {
		-webkit-transition: margin-left 0.8s $anim-offcanvas;
  	transition: margin-left 0.8s $anim-offcanvas;
	}
}

